
body {
    /* 
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/4096px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg);
    background-repeat:no-repeat;
    background-size: cover; 
    */

    background-color: #b3cee5;

    font-family: 'Barlow', sans-serif;

    /* Gets rid of space in front of header and footer*/
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}


h1 {
    font-size: 50px;
}

/* ------------ Pomodoro Timer/Footer ------------ */

button {
    font-size: 1.5rem;
}

#pomodoro-timer {
    width: 66vw;
    height: 40vh;

    border-radius: 33px;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 75%); /* it is rgba instead of hex to make it opaque */

    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.menu-options, 
#timer-control {
    display: flex;
    justify-content: space-evenly;
}

.menu-options p,
.control-text {
    display: inline-block;
}

.tab-text, 
.control-text, 
#footer-text {
    text-align: center;
}



/* ------------ Pomodoro Timer ------------ */

/* ------------ #timer-options creates the tabs on menu ------------ */

/*This gives each timer option a height bottom border and transparent white background*/
#short-break,
#pomodoro,
#long-break {
    height: 10vh;

    border-bottom: 1px solid #000;
    background: rgba(255, 255, 255, 0.00);

}

/* This creates the dividers between the timer options*/
#short-break,
#pomodoro {
    border-right: 1px solid #000;
}

#short-break,
#long-break,
#pomodoro{
    width: 22vw;
}

#short-break {
    border-top-left-radius: 33px;
}

#long-break {
    border-top-right-radius: 33px;
}

#timer {
    text-align: center;
    display: block;
}

/* ------------ #timer-control creates controls for timer ------------ */

#timercontrol-left,
#timercontrol-right {
    width: 140px;
    height: 50px;

    border-radius: 35px;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.00); 
}

#timercontrol-right p,
#timercontrol-left p {
    position: relative;

    top: -8px;
}

/* centers timer and the controls */
#timer-center {
    position: absolute;
    left: 50%;
    top: 55%;
    width: 500px;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ------------ Buttons ------------ */

button:focus,
button:hover,
#timer-control button:focus,
#timer-control button:hover{
    border: 3px solid #000;
}

button {
    border: 1px solid #000;
}

.control-text{
    padding: 10px;
    border-radius: 35px;
}

/* ------------ Footer ------------ */

footer {
    background: rgba(255, 255, 255, 75%);

    width: 100vw; 
    padding: 0;
    overflow: auto;
    margin: 0;

    display: block;

    position: fixed;
    bottom: 0px;
}

/* ------------ Media Queries ------------ */

@media screen and (max-width: 650px) {
    body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    }
    
    button{
      font-size: 1rem;  
    }
}